* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(191, 147, 248);
}

.container {
    height: 90vh;
    width: 100vw;
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 50px;
}

.game-section {
    height: 95%;
    justify-items: center;
    background-color: azure;
    border-radius: 20px;
}

.game-section h2 {
    margin-top: 4px;
}


.grids {
    width: 80%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 20px;
    margin-bottom: 5px;

}

.box {
    border: 3px solid black;
    border-radius: 10px;
    margin: 1px;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

}

.restart {
    color: rgb(227, 226, 226);
    background-color: rgb(6, 196, 6);
    font-size: large;
    padding: 4px;
    border-radius: 4px;
    border: none;
    justify-items: center;
    cursor: pointer;
}

.player {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}

.player div:first-child {
    background-color: rgb(6, 196, 6);
    padding: 4px;
    border-radius: 4px;
}

.player-img {
    width: 50%;
    height: 60%;
    /* overflow: hidden; */
    margin-top: 80px;
    opacity: 0.9;
}

.player-img img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */

}

#player-img-x {
    transform: scale(1.2);
}

.game-result {
    margin: 4px;
}